@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Estilos {
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="fondomenu py-3 px-5">
                    <h6 class="m-0 text-uppercase font-weight-bold text-white ">  Aprendices</h6>

                </div>

               @*  <br />
                <br /> *@
                <div class="col-md-6 py-3 px-5">

                    <form class="d-none d-md-inline-block form-inline mb-4">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" width="150" />
                            <button class="boton" id="btnNavbarSearch">Buscar</button>

                        </div>

                    </form>

                </div>
                @* <br /> *@

                <div class="card-body ">
                    <table class="table table-bordered mb-4" id="tbdata" cellspacing="1" style="width:100%">
                        <thead class="boton2 ms-auto">
                            <tr>
                                <th>Documento</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>ficha</th>
                                <th>Programa</th>
                                <th>Estado Aprendiz</th>
                                <th>Estado pruebas tyt</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>WDHPQW8</td>
                                <td>12312312</td>
                                <td>Marca 1</td>
                                <td>Descripcion 1</td>
                                <td>Descripcion 1</td>
                                <td>Categoria 1</td>
                                <td>120</td>
                                <td>Activo</td>
                                <td>
                                    <a class="btn  btn-sm">
                                        <img src="~/img/editar.png" alt="Alternate Text" width="30" />
                                    </a>
                                    <a class="btn btn-sm">
                                        <img src="~/img/borrar (1).png" alt="Alternate Text" width="30" />
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>WIEYEO2I</td>
                                <td>12312312</td>
                                <td>Marca 2</td>
                                <td>Descripcion 2</td>
                                <td>Categoria 2</td>
                                <td>Descripcion 1</td>
                                <td>140</td>
                                <td>No Activo</td>
                                <td>
                                    <a class="btn  btn-sm" href="@Url.Action("Editar","Aprendiz")">
                                        <img src="~/img/editar.png" alt="Alternate Text" width="30" />
                                    </a>
                                    <a class="btn btn-sm">
                                        <img src="~/img/borrar (1).png" alt="Alternate Text" width="30" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <img class="img-fluid mover1" src="~/img/aprendicesena.png" alt="Alternate Text" width="400"  />
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/scripts.js" asp-append-version="true"></script>

}

