@{
    ViewData["Title"] = "RegistrarLotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@if (ViewBag.MensajeExcelNoSelec != null)
{
    <div class="alert alert-danger">@ViewBag.MensajeExcelNoSelec</div>
}
<form asp-controller="Aprendiz" asp-action="RegistrarLotes" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label for="file">Selecciona archivo excel</label>
        <input id="inputArchivo" type="file" name="fileExcel" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<br />
<button id="btnMostrar" class="btn btn-primary">Mostrar datos</button>
<br />
<br />
@if (ViewBag.AprendizExistExcel != null)
{
    <div class="alert alert-danger">@ViewBag.AprendizExistExcel</div>
}
<div class="card-body table-responsive" style="height:450px; ">
    <table class="table table-bordered mb-4" id="tbdata2" cellspacing="1" style="width:100%">
        <thead class="boton2 ms-auto">
            <tr>
                <th>Tipo Documento</th>
                <th>Documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Número Celular</th>
                <th>Correo</th>
                <th>Direccion</th>
                <th>Ciudad</th>
                <th>ficha</th>
                <th>Acudiente</th>
                <th>Celular acudiente</th>
                <th>Correo Acudiente</th>
                <th>Estado Aprendiz</th>
                <th>Estado Pruebas TYT</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

@if (ViewBag.mensajeAprendices != null)
{
    <div class="alert alert-info">@ViewBag.mensajeAprendices</div>
}
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#btnMostrar').click(function () {
                const input = document.querySelector('#inputArchivo');
                const formData = new FormData();
                formData.append("ArchExcel", input.files[0]);

                fetch("MostrarDatos", {
                    method: "POST",
                    body: formData
                })
                    .then(response => response.json())
                    .then(dataJson => {
                        const tbody = $('#tbdata2 tbody');
                        tbody.empty();  // limpiar los datos existentes en la tabla

                        dataJson.forEach(item => {
                            const row = $('<tr>').append(
                                $('<td>').text(item.nombredoc),
                                $('<td>').text(item.numeroDocumentoAprendiz),
                                $('<td>').text(item.nombreAprendiz),
                                $('<td>').text(item.apellidoAprendiz),
                                $('<td>').text(item.celAprendiz),
                                $('<td>').text(item.correoAprendiz),
                                $('<td>').text(item.direccionAprendiz),
                                $('<td>').text(item.nomCiudad),
                                $('<td>').text(item.ficha),
                                $('<td>').text(item.nombreCompletoAcudiente),
                                $('<td>').text(item.celularAcudiente),
                                $('<td>').text(item.correoAcudiente),
                                $('<td>').text(item.nomEstadoAprendiz),
                                $('<td>').text(item.nomEstadoTyt)
                            );
                            tbody.append(row);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>
}
