@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header fondomenu ">
                    <img class="img-fluid mover2" src="~/img/agregar-usuario.png" alt="Alternate Text" width="40">
                    <h3 class="text-center font-dark-light my-4">Registro </h3>

                </div>
                <div class="card-body">
                    <form>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select class="form-control form-control-sm" id="cboTipoDocumento">
                                        <option value="3">Selecciona un tipo de documento...</option>
                                        <option value="2">C.C</option>
                                        <option value="1">T.I</option>
                                        <option value="0">PPT</option>
                                    </select>
                                    <label for="cboTipoDocumento">Tipo Documento</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputDocumento" type="text" placeholder="Ingresa tu numero de documento" />
                                    <label for="inputName">Numero de documento</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputName" type="text" placeholder="Ingresa tus nombres" />
                                    <label for="inputName">Nombres</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input class="form-control" id="inputLastName" type="text" placeholder="Ingresa tus apellidos" />
                                    <label for="inputLastName">Apellidos</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa tu telefono" />
                                    <label for="inputTelefono">Telefono</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputDireccion" type="text" placeholder="Ingresa tu direccion" />
                                    <label for="inputDireccion">Direccion</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputEmail" type="email" placeholder="name@example.com" />
                                    <label for="inputEmail">Correo</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">

                                    <select class="form-control form-control-sm" id="cboEstadoAprendiz">
                                        <option value="4">Selecciona una estado...</option>
                                        <option value="3">Productiva</option>
                                        <option value="2">Contratado</option>
                                        <option value="1">certificado</option>
                                        <option value="0">Por certificar</option>
                                    </select>
                                    <label for="cboEstadoAprendiz">Estado Aprendiz</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa tu telefono" />
                                    <label for="inputTelefono">Telefono</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating mb-3">

                                    <select class="form-control form-control-sm" id="cboDepartamentos">
                                        <option value="4">Selecciona una departamento...</option>
                                        <option value="3">La Guajira</option>
                                        <option value="2">Cesar</option>
                                        <option value="1">Bolivar</option>
                                        <option value="0">Magdalena</option>
                                    </select>
                                    <label for="cboDepartamentos">Departamentos</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">

                                    <select class="form-control form-control-sm" id="cboMunicipio">
                                        <option value="4">Selecciona una municipio...</option>
                                        <option value="3">Fonseca</option>
                                        <option value="2">Valledupar</option>
                                        <option value="1">Cartagena</option>
                                        <option value="0">Santa Marta</option>
                                    </select>
                                    <label for="cboMunicipio">Municipio</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">

                                    <select class="form-control form-control-sm" id="cboEstadoPruebatyt">
                                        <option value="4">Selecciona una estado...</option>
                                        <option value="3">Inscrito</option>
                                        <option value="2">No Habilitado</option>
                                        <option value="1">Por Inscribirse</option>
                                        <option value="0">No Aplica</option>
                                    </select>
                                    <label for="cboEstadoPruebatyt">Estado tyt</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">

                                    <select class="form-control form-control-sm" id="cboEstadoAprendiz">
                                        <option value="4">Selecciona una estado...</option>
                                        <option value="3">Productiva</option>
                                        <option value="2">Contratado</option>
                                        <option value="1">certificado</option>
                                        <option value="0">Por certificar</option>
                                    </select>
                                    <label for="cboEstadoAprendiz">Estado</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">

                                    <select class="form-control form-control-sm" id="cboEstadoPruebatyt">
                                        <option value="4">Selecciona una estado...</option>
                                        <option value="3">Inscrito</option>
                                        <option value="2">No Inscrito</option>
                                        <option value="1">Por Inscribirse</option>
                                        <option value="0">No Aplica</option>
                                    </select>
                                    <label for="cboEstadoAprendiz">Estado TyT</label>

                                </div>
                            </div>

                            <!-- Acudiente -->
                            <div class="fondomenu py-3 px-5">
                                <h6 class="m-0 text-center font-dark-light text-white "> Acudiente</h6>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa nombre acudiente" />
                                    <label for="inputTelefono">Nombre completo</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="correoAcudiente" type="tel" placeholder="Ingresa telefono acudiente" />
                                    <label for="inputTelefono">Telefono</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" id="correoAcudiente" type="email" placeholder="Ingresa correo acudiente" />
                            <label for="inputTelefono">Correo acudiente</label>
                        </div>
                        <!-- fin Acudiente -->
                        <br />

                         <!-- Pruebas tyt-->

                        <div class="row mb-3" id="pruebatyt" style="display:none">
                            <div class="fondomenu py-3 px-5">
                                <h6 class="m-0 text-center font-dark-light text-white "> Pruebas tyt</h6>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputcodigotyt" type="tel" placeholder="Ingresa Codigo de inscripcion" />
                                    <label for="inputcodigotyt">Codigo Inscripcion</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="correoAcudiente" type="tel" placeholder="Ingresa telefono acudiente" />
                                    <label for="inputTelefono">Telefono</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputTelefono" type="tel" placeholder="Ingresa nombre acudiente" />
                                    <label for="inputTelefono">Nombre completo</label>
                                </div>
                            </div>
                            <div class="col-md-6 py-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="correoAcudiente" type="tel" placeholder="Ingresa telefono acudiente" />
                                    <label for="inputTelefono">Telefono</label>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 mb-0">
                            <div class="d-grid boton2"><a class="btn text-center btn-block" style="font-size:20px" href="#">Registrar</a></div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/scripts.js" asp-append-version="true"></script>

}
